{% extends 'base.html.twig' %}
{% block body %}
    <canvas id="projector"></canvas>
    {% include "header.html.twig" %}
    <main>
        <div class="wrapper">
            <h1 class="title middleBaseSize text-start">{{ "about_page.title"|trans }}</h1>
        </div>
        <div class="more">
            <a href="#backend" class="textBaseSize arrowMore">
                <span class="textBaseSize">{{ 'about_page.more'|trans }}</span>
                <img src="{{ asset('assets/svg/arrow.svg') }}" alt="arrow">
            </a>
        </div>
    </main>
    <section id="backend" class="sectionSkill">
        <div class="wrapper">
            <div class="align-center flex flex-column">
                <h2 class="middleBaseSize mt-0">{{ "backend"|trans }}</h2>
                <p class="descriptionAbout text-center">{{ "about_page.backend.description"|trans }}</p>
                <div class="flex flex-wrap justify-center mt-2">
                    <div class="language">
                        <img class="icon" src="{{ asset('assets/img/icon/symfony.png') }}" alt="symfony">
                        <span class="flex align-center">Symfony</span>
                    </div>
                    <div class="language">
                        <img class="icon" src="{{ asset('assets/img/icon/node.png') }}" alt="angular">
                        <span class="flex align-center">NodeJS</span>
                    </div>
                    <div class="language">
                        <img class="icon" src="{{ asset('assets/img/icon/java.png') }}" alt="java">
                        <span class="flex align-center">Java</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="more">
            <a href="#frontend" class="textBaseSize arrowMore">
                <span class="textBaseSize">{{ 'about_page.more'|trans }}</span>
                <img src="{{ asset('assets/svg/arrow.svg') }}" alt="arrow">
            </a>
        </div>
    </section>
    <section id="frontend" class="sectionSkill">
        <div class="wrapper">
            <div class="align-center flex flex-column">
                <h2 class="middleBaseSize mt-0">{{ "frontend"|trans }}</h2>
                <p class="descriptionAbout text-center">{{ "about_page.frontend.description"|trans }}</p>
                <div class="flex flex-wrap justify-center mt-2">
                    <div class="language">
                        <img class="icon" src="{{ asset('assets/img/icon/vue.png') }}" alt="vue js">
                        <span class="flex align-center">VueJs</span>
                    </div>
                    <div class="language">
                        <img class="icon" src="{{ asset('assets/img/icon/js.png') }}" alt="js">
                        <span class="flex align-center">JS</span>
                    </div>
                    <div class="language">
                        <img class="icon" src="{{ asset('assets/img/icon/typescript.png') }}" alt="js">
                        <span class="flex align-center">Typescript</span>
                    </div>
                    <div class="language">
                        <img class="icon" src="{{ asset('assets/img/icon/angular.png') }}" alt="angular">
                        <span class="flex align-center">Angular</span>
                    </div>
                    <div class="language">
                        <img class="icon" src="{{ asset('assets/img/icon/bootstrap.png') }}"
                             alt="bootstrap">
                        <span class="flex align-center">Bootstrap</span>
                    </div>
                    <div class="language">
                        <img class="icon" src="{{ asset('assets/img/icon/tailwinds.png') }}"
                             alt="tailwinds">
                        <span class="flex align-center">Tailwinds</span>
                    </div>
                    <div class="language">
                        <img class="icon" src="{{ asset('assets/img/icon/twig.png') }}" alt="twig">
                        <span class="flex align-center">Twig</span>
                    </div>
                    <div class="language">
                        <img class="icon" src="{{ asset('assets/img/icon/scss.png') }}" alt="scss">
                        <span class="flex align-center">SASS</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="more">
            <a href="#devops" class="textBaseSize arrowMore">
                <span class="textBaseSize">{{ 'about_page.more'|trans }}</span>
                <img src="{{ asset('assets/svg/arrow.svg') }}" alt="arrow">
            </a>
        </div>
    </section>
    <section id="devops" class="sectionSkill">
        <div class="wrapper">
            <div class="align-center flex flex-column">
                <h2 class="middleBaseSize mt-0">{{ "devops_tools"|trans }}</h2>
                <p class="descriptionAbout text-center">{{ "about_page.devops.description"|trans }}</p>
                <div class="flex flex-wrap justify-center mt-2">
                    <div class="language">
                        <img class="icon" src="{{ asset('assets/img/icon/git.png') }}" alt="git">
                        <span class="flex align-center">Git</span>
                    </div>
                    <div class="language">
                        <img class="icon" src="{{ asset('assets/img/icon/docker.png') }}" alt="docker">
                        <span class="flex align-center">Docker</span>
                    </div>
                    <div class="language">
                        <img class="icon" src="{{ asset('assets/img/icon/figma.png') }}" alt="figma">
                        <span class="flex align-center">Figma</span>
                    </div>
                    <div class="language">
                        <img class="icon" src="{{ asset('assets/img/icon/intellij.png') }}" alt="intellij">
                        <span class="">Intellij</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="more">
            <a href="#contact" class="textBaseSize arrowMore">
                <span class="textBaseSize">{{ 'about_page.more'|trans }}</span>
                <img src="{{ asset('assets/svg/arrow.svg') }}" alt="arrow">
            </a>
        </div>
    </section>
    <section id="contact" class="sectionContact">
        <h1 class="title middleBaseSize text-center">{{ "about_page.contact.title"|trans }}</h1>
        <p class="midMiddleBaseSize text-center">{{ "about_page.contact.description"|trans }}</p>
        <div class="formGroup">
            <div class="flex justify-center gap-1 ">
                <a href="https://fr.linkedin.com/in/quentin-bastos-a02838222" target="_blank">
                    <img class="iconContact" src="{{ asset('assets/img/icon/linkedin.png') }}" alt="linkedin">
                </a>
                <a href="mailto:bastos.quentin.pro@gmail.com" target="_blank">
                    <img class="iconContact" src="{{ asset('assets/img/icon/mail.png') }}" alt="linkedin">
                </a>
                <a href="https://github.com/QuentinBastos" target="_blank">
                    <img class="iconContact" src="{{ asset('assets/img/icon/github.png') }}" alt="github">
                </a>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ importmap('background_js') }}
    <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}