{% extends "base.html.twig" %}
{% block body %}
    <canvas id="projector"></canvas>
    {% include "header.html.twig" %}
    <main>
        <div class="wrapper">
            <p class="title titleBaseSize">{{ 'nothing'|trans }}</p>
            <p class="title titleBaseSize">{{ 'is_impossible'|trans }}</p>
            <p class="description textBaseSize">{{ 'portfolio_description'|trans }}</p>
        </div>
        <div class="more">
            <a href="#who" class="textBaseSize arrowMore">
                <span class="textBaseSize">{{ 'more'|trans }}</span>
                <img src="{{ asset('assets/svg/arrow.svg') }}" alt="arrow">
            </a>
        </div>
    </main>
    <section id="who" class="sectionWho">
        <div id="particles-js"></div>
        <div class="wrapper">
            <p class="titleWho middleBaseSize">{{ 'who_is_quentin'|trans }}</p>
            <p class="descriptionWho textBaseSize">{{ 'quentin_description'|trans }}</p>
            <p class="descriptionWho textBaseSize colorLightGray">{{ 'quentin_details'|trans }}</p>
            <a class="aboutWho smallBaseSize hoverA" href="{{ path('about') }}">{{ 'learn_more'|trans }}</a>
            <div class="more">
                <a href="#works" class="textBaseSize arrowMore">
                    <span class="textBaseSize">{{ 'more'|trans }}</span>
                    <img src="{{ asset('assets/svg/arrow.svg') }}" alt="arrow">
                </a>
            </div>
        </div>
    </section>
    <section id="works" class="sectionWorks">
        <div class="titleWho stickyTitle">
            <h1 class="middleBaseSize uppercase">{{ 'works'|trans }}</h1>
            <p class="textBaseSize">{{ 'want_to_see_my_work'|trans }}</p>
            <p class="textBaseSize">{{ 'come_check_below'|trans }}</p>
            <a href="#chess" class="textBaseSize arrowMore">
                <span class="textBaseSize">{{ 'check_my_projects'|trans }}</span>
                <img src="{{ asset('assets/svg/arrow.svg') }}" alt="arrow">
            </a>
        </div>
        <div id="chess" class="projectWrapper">
            <img src="{{ asset('assets/img/projects/chess/background_chess.png') }}" alt="Centered Image"
                 class="centeredImage blurDarker">
            <div class="project">
                <div class="leftSide">
                    <a href="#phase10" class="smallBaseSize arrowMore projectNext">
                        <span class="smallBaseSize">{{ 'next_project'|trans }}</span>
                        <img src="{{ asset('assets/svg/arrow.svg') }}" alt="arrow">
                    </a>
                </div>
                <div class="middleSide">
                    <div class="pre-container css-only">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <pre contenteditable class="language-css" tabindex="0">
                                 <img src="{{ asset('assets/img/projects/chess/icon_chess.png') }}"
                                      alt="icon chess game">
                            <div class="textOverlay">
                                <p class="midMiddleBaseSize">{{ 'chess.title'|trans }}</p>
                            </div>
                        </pre>
                    </div>
                </div>
                <div class="rightSide">
                    <p class="midMiddleBaseSize title">{{ 'chess.title'|trans }}</p>
                    <p class="descriptionProject">{{ 'chess.description'|trans }}</p>
                    <a href="#" class="buttonProject hoverA">{{ 'view_project'|trans }}</a>
                </div>
            </div>
        </div>
        <div id="phase10" class="projectWrapper">
            <img src="{{ asset('assets/img/projects/phase10/background_phase10.png') }}" alt="Centered Image"
                 class="centeredImage blurDarker">
            <div class="project">
                <div class="leftSide">
                    <a href="#interactive-book" class="smallBaseSize arrowMore projectNext">
                        <span class="smallBaseSize">{{ 'next_project'|trans }} </span>
                        <img src="{{ asset('assets/svg/arrow.svg') }}" alt="arrow">
                    </a>
                </div>
                <div class="middleSide">
                    <div class="pre-container css-only">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <pre contenteditable class="language-css" tabindex="0">
                               <img src="{{ asset('assets/img/projects/phase10/icon_phase10.png') }}"
                                    alt="icon game phase 10">
                            <div class="textOverlay">
                                <p class="midMiddleBaseSize">{{ 'phase10.title'|trans }}</p>
                            </div>
                        </pre>
                    </div>
                </div>
                <div class="rightSide">
                    <p class="midMiddleBaseSize title">{{ 'phase10.title'|trans }}</p>
                    <p class="descriptionProject">{{ 'phase10.description'|trans }}.</p>
                    <a href="#" class="buttonProject hoverA">{{ 'view_project'|trans }}</a>
                </div>
            </div>
        </div>
        <div id="interactive-book" class="projectWrapper">
            <img src="{{ asset('assets/img/projects/interactive_book/background_interactive_book.png') }}"
                 alt="Centered Image"
                 class="centeredImage blurDarker">
            <div class="project">
                <div class="leftSide">
                    <a href="#spotify" class="smallBaseSize arrowMore projectNext">
                        <span class="smallBaseSize">{{ 'next_project'|trans }}</span>
                        <img src="{{ asset('assets/svg/arrow.svg') }}" alt="arrow">
                    </a>
                </div>
                <div class="middleSide">
                    <div class="pre-container css-only">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <pre contenteditable class="language-css" tabindex="0">
                             <img src="{{ asset('assets/img/projects/interactive_book/icon_interactive_book.png') }}"
                                  alt="interactive book icon">
                            <div class="textOverlay">
                                <p class="midMiddleBaseSize">{{ 'interactive_book.title'|trans }}</p>
                            </div>
                        </pre>
                    </div>
                </div>
                <div class="rightSide">
                    <p class="midMiddleBaseSize title">{{ 'interactive_book.title'|trans }}</p>
                    <p class="descriptionProject">{{ 'interactive_book.description'|trans }}</p>
                    <a href="#" class="buttonProject hoverA">{{ 'view_project'|trans }}</a>
                </div>
            </div>
        </div>
        <div id="spotify" class="projectWrapper">
            <img src="{{ asset('assets/img/projects/spotify/background_spotify.png') }}" alt="Centered Image"
                 class="centeredImage blurDarker">
            <div class="project">
                <div class="leftSide">
                    <a href="#works" class="smallBaseSize arrowMore projectNext reverseArrow">
                        <img src="{{ asset('assets/svg/arrow.svg') }}" alt="arrow">
                        <span class="smallBaseSize">{{ 'back_to_works'|trans }}</span>
                    </a>
                </div>
                <div class="middleSide">
                    <div class="pre-container css-only">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <pre contenteditable class="language-css" tabindex="0">
                             <img src="{{ asset('assets/img/projects/spotify/icon_spotify.png') }}"
                                  alt="interactive book icon">
                            <span class="textOverlay">
                                <span class="midMiddleBaseSize">{{ 'spotify.title'|trans }}</span>
                            </span>
                        </pre>
                    </div>
                </div>
                <div class="rightSide">
                    <p class="midMiddleBaseSize title">{{ 'spotify.title'|trans }}</p>
                    <p class="descriptionProject">{{ 'spotify.description'|trans }}</p>
                    <a href="#" class="buttonProject hoverA">{{ 'view_project'|trans }}</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js"></script>
    {{ parent() }}
{% endblock %}